body 
{
	background-image: url("images/montagne.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
}

h1
{
	border-left: 3px red dotted;
	border-radius: 20px;
	box-shadow: 6px 6px 5px black;
	text-shadow: 4px 4px 5px white;
	font-weight: bold;
	opacity: 1;
	background-color: blue;
	/* Commentaires */
}
.introduction
{
	color: blue;
}
#introduction
{
	color: green;
}
*
{ color: black; }
h1 + p
{
	color: red;
}
h1 em
{
	color: pink;
}
p
{
	color: #FF0000;
	text-decoration: overline;
	text-align: justify;
	font-size: 1.3em;
	font-style: italic;
	font-weight: bold;
	font-family: 'ambleregular', Impact, "Arial Black", Arial, Verdana;
}
@font-face {
    font-family: 'ambleregular';
    src: url('fonts/Amble-Regular-webfont.eot');
    src: url('fonts/Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Amble-Regular-webfont.woff2') format('woff2'),
         url('fonts/Amble-Regular-webfont.woff') format('woff'),
         url('fonts/Amble-Regular-webfont.ttf') format('truetype'),
         url('fonts/Amble-Regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.flottant 
{
	float: left;
}
.autre 
{
	clear: left;
}
a:hover 
{
	color: green;
}

p:hover 
{
	border-left: 3px solid black ;
}

a:visited 
{
	color: grey;
}