h1
{
	font-weight: bold;
	/* Commentaires */
}
.introduction
{
	color:blue;
}
#introduction
{
	color:green;
}
*
{ color:black; }
h1 + p
{
	color: red;
}
h1 em
{
	color: pink;
}
p
{
	font-size: 1.3em;
	font-family: Impact, "Arial Black", Arial, Verdana;
}